<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chw.androidcustomview">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE/" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".f_activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--1. 绘图基础-->
        <activity android:name=".f_activity.ABasicActivity" />

        <!--2. 路径绘制-->
        <activity android:name=".f_activity.BPathActivity" />

        <!--3. 文字绘制-->
        <activity android:name=".f_activity.CTextActivity" />

        <!--4. 区域操作-->
        <activity android:name=".f_activity.DRegionActivity" />

        <!--5. 画布进阶-->
        <activity android:name=".f_activity.ECanvasActivity" />

        <!--6.Bitmap-->
        <activity android:name=".bitmap.BitmapActivity" />
        <!--7.手势-->
        <activity android:name=".g_gesture.G1Activity" />
        <activity android:name=".g_gesture.G2Activity" />
        <activity android:name=".g_gesture.G3Activity" />
        <activity android:name=".g_gesture.G4Activity" />
        <activity android:name=".g_gesture.G5Activity" />
        <activity android:name=".g_gesture.G6Activity" />
        <activity android:name=".g_gesture.G7Activity" />
        <activity android:name=".g_gesture.G8Activity" />
        <activity android:name=".g_gesture.G9Activity" />
        <activity android:name=".g_gesture.G10Activity" />
        <activity android:name=".g_gesture.G11Activity" />

        <!--8.matrix-->
        <activity
            android:name=".h_matrix.MatrixActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!--9.生命周期-->
        <activity
            android:name=".i_lifecycle.LifeCycleActivity1"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".i_lifecycle.LifeCycleActivity2" />
    </application>

</manifest>